#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all reproducible=+fixfilepath

include /usr/share/dpkg/default.mk

SYSREPO_UID = 62410

NPROCS:=$(shell grep -c ^processor /proc/cpuinfo)

%:
	dh $@ -j --buildsystem=cmake --with graphnos-yang

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE:String="Package" \
		-DSYSREPOCFG_DEFAULT_LYD_FORMAT=LYD_JSON \
		-DINSTALL_SYSCTL_CONF=ON \
		-DREPO_PATH="/run/sysrepo" \
		-DCMAKE_BUILD_WITH_INSTALL_RPATH=ON \
		-DSYSREPO_GROUP=sysrepo \
		-DSYSREPO_SUPERUSER_UID=$(SYSREPO_UID) \
		-DNACM_SRMON_DATA_PERM=660

override_dh_installsystemd:
	dh_installtmpfiles
	dh_installsystemd -psysrepo-tools --name=sysrepo-shutdown-mgr

override_dh_auto_test:
ifeq ($(filter nocheck,$(DEB_BUILD_OPTIONS)),)
	make -C obj-$(DEB_HOST_GNU_TYPE) test ARGS=' -j $(NPROCS) -V -E test_notif'
	make -C obj-$(DEB_HOST_GNU_TYPE) test_clean
endif
